<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.zaitcev.package1">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-sdk android:minSdkVersion="2" /> -->
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="17" />

    <application android:label="@string/blitz2_first"
                 android:icon="@drawable/blitz2_1">

        <activity android:name="us.zaitcev.package1.HelloAndroid"
                  android:label="@string/blitz2main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </activity>

    </application>
</manifest>
